**[IVR Tester](../README.md)**

> [Globals](../README.md) / ["handlers/TestHandler"](../modules/_handlers_testhandler_.md) / TestResult

# Interface: TestResult

## Hierarchy

* **TestResult**

## Index

### Properties

* [matchedCondition](_handlers_testhandler_.testresult.md#matchedcondition)
* [result](_handlers_testhandler_.testresult.md#result)

## Properties

### matchedCondition

• `Optional` **matchedCondition**: [TranscriptCondition](_conditions_transcriptcondition_.transcriptcondition.md)

*Defined in [packages/ivr-tester/src/handlers/TestHandler.ts:12](https://github.com/SketchingDev/ivr-tester/blob/a93dd5f/packages/ivr-tester/src/handlers/TestHandler.ts#L12)*

___

### result

•  **result**: \"continue\" \| \"fail\" \| \"pass\"

*Defined in [packages/ivr-tester/src/handlers/TestHandler.ts:13](https://github.com/SketchingDev/ivr-tester/blob/a93dd5f/packages/ivr-tester/src/handlers/TestHandler.ts#L13)*
