**[IVR Tester](../README.md)**

> [Globals](../README.md) / ["testing/test/TestInstanceClass"](../modules/_testing_test_testinstanceclass_.md) / TestResult

# Interface: TestResult

## Hierarchy

* **TestResult**

## Index

### Properties

* [matchedCondition](_testing_test_testinstanceclass_.testresult.md#matchedcondition)
* [result](_testing_test_testinstanceclass_.testresult.md#result)

## Properties

### matchedCondition

• `Optional` **matchedCondition**: [AssertThen](_testing_test_conditions_assertthen_.assertthen.md)

*Defined in [packages/ivr-tester/src/testing/test/TestInstanceClass.ts:11](https://github.com/SketchingDev/ivr-tester/blob/734e920/packages/ivr-tester/src/testing/test/TestInstanceClass.ts#L11)*

___

### result

•  **result**: \"continue\" \| \"fail\" \| \"pass\"

*Defined in [packages/ivr-tester/src/testing/test/TestInstanceClass.ts:12](https://github.com/SketchingDev/ivr-tester/blob/734e920/packages/ivr-tester/src/testing/test/TestInstanceClass.ts#L12)*
